%section.phone

%section.explanation
  %h2
    Ever forget to change the order
    %br
    of your Netflix queue?
  %h2
    Does a movie show up
    %br
    you no longer want?

- content_for :bottom do
  #form-backer
  
  = form_for @user, :url => '/authorize_netflix', html: {id: 'signup'} do |form|
  
    %label Send me a reminder email every:
    %ul.days
      %li.day{day: 1} Mon
      %li.day{day: 2} Tue
      %li.day.selected{day: 3} Wed
      %li.day{day: 4} Thu
      %li.day{day: 5} Fri
      %li.day{day: 6} Sat
      %li.day{day: 7} Sun
    = form.hidden_field :day_of_the_week, value: 3, id: "day"
      
    %label at this email address:
    = form.text_field :email, value: session[:email], placeholder: "email address"
    
    %input{type: "submit", value: "Authorize Netflix access"}