%section.phone

%section.explanation
  %h2
    Ever forget to change the order
    %br
    of your Netflix queue?
  %h2
    Does a movie show up
    %br
    you no longer want?

- content_for :bottom do
  #form-backer

  / we need to stick in the rails form later
  = form_tag '/auth/netflix', id: 'signup' do

    %p
      1. We send you an email of your upcoming movies.
      %br
      2. Happy with what you're getting next? Leave it.
      %br
      3. Prefer one of your other movies? Choose it.
      
    %input{type: "submit", value: "Sign in with Netflix"}