//= require_self
//= require_tree .

@import "colors.css.scss";

/* Resets */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

p {
	margin: 10px 0;
	line-height: 1.62em;
}

h1, h2 {
	margin-bottom: 15px;
}

ol, ol li {
	list-style-type: decimal-leading-zero;
}

.clearfix {
	display: inline-block;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
.clear {
	clear: both;
}

/* Generic elements */

html, body {
	font-family: myriad-pro, "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 300;
	background-color: $light_grey;
	color: $dark_grey;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 18px;
	font-weight: 900;
}

a, a:visited {
	color: $pink;
	outline: none;
}

strong {
	font-weight: bold;
}

form {
	input[type="text"], input[type="password"], textarea {
		font-size: 16px;
		padding: 10px;
		@include rounded(3px);
		border: 1px solid #ccc;
		font-family: myriad-pro, "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-weight: 300;
	}
	input[type="submit"] {
		text-align: center;
		height: 42px;
		font-family: myriad-pro, "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-weight: 500;
		text-shadow: 0 1px 1px #fff;
		font-size: 15px;
		@include rounded(2px);
		border: 1px solid #b64b58;
		color: #781d1d;
		background: #f77e7e;
		background-image: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    color-stop(0, rgb(244,100,100)),
		    color-stop(1, rgb(249,151,151))
		);
		background-image: -moz-linear-gradient(
		    center bottom,
		    rgb(244,100,100) 0%,
		    rgb(249,151,151) 100%
		);
		cursor: pointer;
		box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.3), 0 4px 0 0 #cb5454, 0 4px 4px 0 rgba(0,0,0,0.5);
		text-transform: uppercase;
	}
	input[type="submit"]:active {
		box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.1), 0 0 2px 0 #fff;
		position: relative;
		top: 4px;
	}
}

::-webkit-input-placeholder { font-family: myriad-pro, "Helvetica Neue", Arial, Helvetica, sans-serif; color:#999; font-weight: 300; font-size: 16px; }
input:-moz-placeholder { font-family: myriad-pro, "Helvetica Neue", Arial, Helvetica, sans-serif; color:#999; font-weight: 300; font-size: 16px;  }