$pink: #f15b5b;
$red: #d65151;
$dark_red: #4f2121;
$light_grey: #ececec;
$dark_grey: #343434;

@mixin boxshadow($radius: 5px, $opacity: 0.2, $x: 0, $y: -5px) {
	-webkit-box-shadow: $x $y $radius rgba(0,0,0,$opacity);
	-moz-box-shadow: $x $y $radius rgba(0,0,0,$opacity);
	box-shadow: $x $y $radius rgba(0,0,0,$opacity);
}
@mixin rounded($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin button {
	text-align: center;
	height: 42px;
	font-family: myriad-pro, "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-shadow: 0 1px 1px #fff;
	font-size: 15px;
	@include rounded(2px);
	border: 1px solid #b64b58;
	color: #781d1d;
	background: #f77e7e;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(244,100,100)),
	    color-stop(1, rgb(249,151,151))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(244,100,100) 0%,
	    rgb(249,151,151) 100%
	);
	cursor: pointer;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.3), 0 4px 0 0 #cb5454, 0 4px 4px 0 rgba(0,0,0,0.5);
	text-transform: uppercase;
}